body {

  background-color: #fff;

}

header {

  height: 50px;
  background-color: #000;
  color: #fff;
  padding: 0px;
  margin-top: 0px;

  h1 {

    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 50px;

  }

  a {

    color: white;
    float: right;
  }

}

#loginSection {

  width: 150px;
  margin: 0 auto;
  margin-top: 25px;

  .input {

    text-align: center;
    width: 125px;
    padding: 5px;
    margin: 5px;

  }

  .button {

    width: 139px;
    border: 1px solid gray;
    margin: 5px;
    background-color: white;
    cursor: pointer;


  }

  #getAccount {

    height: 10px;
    padding: 10px 0 0 5px;
    text-decoration: none;

  }


}

.login-link-text {

  color: white;

}