
body {

  background-color: #fff;

}

header {

  height: 50px;
  background-color: #000;
  color: #fff;
  padding: 0px;
  margin-top: 0px;

  h1 {

    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 50px;
  }

}

#signInSection {

  width: 150px;
  margin: 0 auto;
  margin-top: 25px;

  .button {

    padding: 5px;
    margin: 5px;

  }

}


// ======= dashboard ========
.row{
  background:yellow;
}


.taskBoard{
  display: inline;
  height: 100%;

  #thingsToDo {
    background: red;
    padding:10px;
  }

  #inProgress{
    background: blue;
  }

  #completed{
    background: green;
  }

  h2 {
    text-align: center;

  }
  p{

  }

  #addTaskForm {

    & > input {
    }

    textarea {
    }
  }

  ul{
    background: gray;
    list-style-type:none;

  }
  li{
    padding:5px;

  }

}

#taskItem{
  background: gray;
  padding:5px;
  margin-bottom: 10px;

  & > button{
    display: none;
  }

  hover{
    background:white;
  }
}