body {

  background-color: #fff;

}

header {

  height: 50px;
  background-color: #000;
  color: #fff;
  padding: 0px;
  margin-top: 0px;

  h1 {

    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 50px;
  }

}

#signInSection {

  width: 150px;
  margin: 0 auto;
  margin-top: 25px;

  .button {

    padding: 5px;
    margin: 5px;

  }

}