<template name="login">

  <section id="loginSection">

    <form>
        <input class='input' placeholder='username' type="email" name="loginEmail">
        <input class='input' placeholder='password' type="password" name="loginPassword">
        <input class='button' type="submit" value="Login">
    </form>
    <a id='getAccount' href="/signup">Need an account</a>



  </section>

</template>

<template name="signup">

  <section id="loginSection">

    <form>
        <input class='button' placeholder='username' type="email" name="registerEmail">
        <input class='button' placeholder='password' type="password" name="registerPassword">
        <input class='button' type="submit" value="Register">
    </form>

  </section>

</template>
